<?xml version="1.0"?>

<config>
    <modules>
        <Tech_Blog>
            <version>1.0.0</version>
        </Tech_Blog>
    </modules>
    <global>
        <resources>
            <tech_blog_setup>
                <setup>
                    <module>Tech_Blog</module>
                    <class>Tech_Blog_Model_Resource_Setup</class>
                </setup>
            </tech_blog_setup>
        </resources>
        <blocks>
            <tech_blog>
                <class>Tech_Blog_Block</class>
            </tech_blog>
        </blocks>
        <helpers>
            <tech_blog>
                <class>Tech_Blog_Helper</class>
            </tech_blog>
        </helpers>
        <models>
            <tech_blog>
                <class>Tech_Blog_Model</class>
                <resourceModel>tech_blog_resource</resourceModel>
            </tech_blog>
            <tech_blog_resource>
                <class>Tech_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>tech_blog_post</table>
                    </post>
                    <post_store>
                        <table>tech_blog_post_store</table>
                    </post_store>
                    <post_product>
                        <table>tech_blog_post_product</table>
                    </post_product>
                    <post_category>
                        <table>tech_blog_post_category</table>
                    </post_category>
                </entities>
            </tech_blog_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <tech_blog>
                        <class>Tech_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </tech_blog>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <tech_blog>
                    <file>tech_blog.xml</file>
                </tech_blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tech_Blog>
                    <files>
                        <default>Tech_Blog.csv</default>
                    </files>
                </Tech_Blog>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <tech_blog_post_product>
                        <type>singleton</type>
                        <class>tech_blog/adminhtml_observer</class>
                        <method>addProductPostBlock</method>
                    </tech_blog_post_product>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <tech_blog_post_category>
                        <type>singleton</type>
                        <class>tech_blog/adminhtml_observer</class>
                        <method>addCategoryPostBlock</method>
                    </tech_blog_post_category>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_product_save_after>
                <observers>
                    <tech_blog_post_product>
                        <type>singleton</type>
                        <class>tech_blog/adminhtml_observer</class>
                        <method>saveProductPostData</method>
                    </tech_blog_post_product>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <tech_blog_post_category>
                        <type>singleton</type>
                        <class>tech_blog/adminhtml_observer</class>
                        <method>saveCategoryPostData</method>
                    </tech_blog_post_category>
                </observers>
            </catalog_category_save_after>
        </events>
        <global_search>
            <post>
                <class>tech_blog/adminhtml_search_post</class>
                <acl>tech_blog</acl>
            </post>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tech_Blog before="Mage_Adminhtml">Tech_Blog_Adminhtml</Tech_Blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <tech_blog>
                <use>standard</use>
                <args>
                    <module>Tech_Blog</module>
                    <frontName>tech_blog</frontName>
                </args>
            </tech_blog>
        </routers>
        <layout>
            <updates>
                <tech_blog>
                    <file>tech_blog.xml</file>
                </tech_blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tech_Blog>
                    <files>
                        <default>Tech_Blog.csv</default>
                    </files>
                </Tech_Blog>
            </modules>
        </translate>
    </frontend>
    <default>
        <tech_blog>
            <post>
                <breadcrumbs>1</breadcrumbs>
                <meta_title>Posts</meta_title>
            </post>
        </tech_blog>
    </default>
</config>
